body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

img{
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

header {
    background-color: #2f4b7c;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px; 
    position: fixed; 
    top: 0;
    z-index: 1000;
    color: white;
    justify-content: space-between;
}

header .logo {
    width: 300px;
    margin-left: 60px;
}

header .user-info {
    font-size: 1.8em;
    margin-right: 60px;
    display: flex;
    align-items: center;
    gap: 35px;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100px; 
    height: 110%; 
    background-color: #2f4b7c;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0; 
}

.sidebar nav {
    width: 100%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
}

.sidebar ul li a.active {
    font-weight: bold;
    background-color: #0048c3;
}

.menu-item {
    text-align: center;
    margin: 20px 0; 
    cursor: pointer;
    transition: transform 0.2s;
} 

.menu-item i {
    font-size: 2em; 
    color: #dcdcdc; 
    margin-top: 15px; 
    margin-left: -5px; 
}

.menu-item span {
    font-size: 0.9em;
    margin-top: 5px; 
    display: block;
    color: white; 
}

.menu-item:hover {
    transform: scale(1.1);
    color: #ffffff; 
}

main {
    margin-top: 100px;
    margin-left: 120px;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.breadcrumbs {
    font-size: 14px;
    color: #333;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background-color: #002f87;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card .number {
    font-size: 2em;
    margin: 0;
}

.panels {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.panel {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.panel.full-width-bar {
    position: relative;
    overflow: hidden;
}

.panel.full-width-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #002f87;
}

@media (max-width: 768px) {
    .sidebar {
        width: 150px;
    }

    main {
        margin-left: 150px;
    }

    .cards, .panels {
        grid-template-columns: 1fr;
    }
}
